* {
    margin: 0;
    padding: 0;
    font-family: Didot, serif;
}

body {
    background-color: rgb(253, 253, 253);
}

.container-cadastro {
    align-items: center;
    display: flex;
    height: 900px;
    justify-content: center;
    width: 100vw;
}

.caixa-cadastro {
    margin-top: 1%;
    align-items: center;
    border-radius: 5px;
    border: 1px solid grey;
    display: flex;
    height: 700px;
    justify-content: center;
    width: 30%;
    -webkit-box-shadow: 3px 8px 17px 0px rgba(0,0,0,0.33); 
    box-shadow: 3px 8px 17px 0px rgba(0,0,0,0.33);
}

.conteudo-formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    height: 700px;
}

.conteudo-formulario h3 {
    margin-top: 8%;
    font-size: 40px;
    letter-spacing: 4px;
    font-weight: lighter;
}

.conteudo-formulario a:hover{
    color: rgb(0, 60, 255);
    transition: ease-in 0.5s;
}

.conteudo-formulario #form-log {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10%;
    gap: 7%;
    height: 65%;
}

.conteudo-formulario #form-log #input-log {
    height: 40px;
    width: 250%;
    text-align: center;
    font-size: 15px;
    border-radius: 15px;
    border: 1px solid grey;
}

.conteudo-formulario #form-log #input-log:hover {
    border: 2px solid black;
}

.conteudo-formulario #form-log #label-curriculo {
    font-size: larger;
}

.conteudo-formulario #form-log #curriculo-log {
    height: 70px;
    width: 250%;
    text-align: justify;
    font-size: 15px;
    border: 1px solid grey;
    resize: none;
}

.conteudo-formulario #form-log #botao-log {
    height: 40px;
    width: 50%;
    border-radius: 15px;
    border: 1px solid grey;
    background-color: transparent;
    font-size: 18px;
}

.conteudo-formulario #form-log #botao-log:hover {
    border: 2px solid black;
}
